<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8">
     <title></title>
   </head>
   <body>

     <button type="button" name="button"><a href="/create">Create A New Pokemon</a></button>
     <button type="button" name="button"><a href="/trainers">See All Trainers</a></button>
      <button type="button" name="button"><a href="">Gym</a></button>



     <h1>ALL POKEMON</h1>

     <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>CP</th>
          <th>Trainer</th>
          <th>In Gym</th>
          <th>Gym Status</th>
          <th>EDIT</th>
          <th>REMOVE</th>
        </tr>
      </thead>
      <tbody>
          <% for(let i = 0; i<pokemonList.length; i++){ %>
            <tr>
              <td><a href="/profile/<%=pokemonList[i].id%>"><%= pokemonList[i].name %></a></td>
              <td><%= pokemonList[i].cp %></td>
              <td><%= pokemonList[i].trainer_id %></td>
              <td><%= pokemonList[i].in_gym %></td>

            <% if(!pokemonList[i].in_gym && gym.length < 3){ %>
              <td> <a href="/addToGym/<%=pokemonList[i].id%>">
                add to gym</a></td>
               <% } else if (!pokemonList[i].in_gym){ %>
                 <td><% [i] %>Gym is Full</td>
            <% }else { %>
              <td> <a href="/removeFromGym/<%=pokemonList[i].id%>">
                remove from gym</a></td>
            <% } %>

              <td><button type="button" name="button"><a href="/update/<%=pokemonList[i].id%>">Edit</a></button></td>
              <td><button type="button" name="button"><a href="/delete/<%=pokemonList[i].id%>">Delete</a></button></td>

            </tr>
          <% } %>
        </tbody>

    </table>

   </body>
 </html>
