<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= poke.name %></h1>
      <p>ID:  <%= poke.id %></p>
      <p>CP:  <%= poke.cp %></p>
      <p>In Gym:  <%= poke.in_gym %></p>
      <p>Trainer:  <%= trainer.name %></p>

  </body>
</html>
