<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= poke.name %></h1>
     


    <form action="/update/<%=poke.id %>" method="post">
      <input type="text" name="name" value="<%= poke.name %>">
      <input type="text" name="cp" value="<%= poke.cp %>">
      <input type="text" name="trainer_id" value="<%= poke.trainer_id %>">

      <input type="submit" value="update">
    </form>

  </body>
</html>
