<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= poke.name %></h1>



    <form action="/update/<%=poke.id %>" method="post">
      <input type="text" name="name" value="<%= poke.name %>">
      <input type="text" name="cp" value="<%= poke.cp %>">

      <select  name="trainer_id" required>
         <% for(let i=0; i<trainer.length; i++){ %>
           <option value="<%= trainer[i].id %>"  >
             <%= trainer[i].name %></option>
         <% } %>
         <option selected value="<%= current.id %>"><%= current.name %></option>
       </select>

      <input type="submit" value="update">
    </form>

  </body>
</html>
